body{
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(./img/download.jpeg);
}
.container{
    background-color: rgb(250, 250, 250);
    background-color: rgb(3, 3, 3);
}
.quemsou{
    display: flex;
    flex-direction: row;
    
}

#texto-a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#imgp{

    border-top-left-radius: 15px;
    max-width: 100%;
    max-height: 100%;
}

#texto-img{
    width: 100%;
    max-height: 20%;
    border-bottom-right-radius: 15px;
}

#h3{
    color: rgb(255, 255, 255);
    padding-top: 10px;
    text-align: center;
    font-size: 30px;   
}

#p1 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    text-shadow: 20px;
    font-weight: bold;
}
.sessao{
    border-top: 2px solid;
    padding-bottom: 15px;
    border-bottom: 2px solid;
    background-image: url(./img/laptop-2620118_1280.jpg);
    background-size: 100%;
   
}

h2 {
    padding-left: 5px;
    font-weight: bold;
    color: rgb(8, 4, 243);
}

h4 {
    padding-left: 15px;
    font-weight: bold;
    color: rgb(8, 4, 243);
}
li {
    list-style-type: none;
    font-weight: bold;
    color: rgb(8, 4, 243);
  }
.li-a {
    color: rgb(8, 4, 243);
    text-decoration: none;
    font-weight: bold;
}

footer{
    padding-top: 5px;
    background-color: rgb(6, 7, 7);
    text-align: center;
}

.footer-h4 {
    color: rgb(255, 255, 255);
    padding-left: 0;
}

.footer-a{
    color: rgb(255, 255, 255)
}
a:hover {
    font-size: 25px;;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}